html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.btn {
  background-color: transparent;
  border: 1px solid #333;
  padding: 1rem 3rem;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
  background-color: steelblue;
  color: white;
}
.App {
  padding: 3rem;  
}
.gold {
  display: flex;
}
.gold__desc {
  padding: 1rem;
  margin-right: 2rem;
}
.gold__quantity {
  padding: 1rem;
  border: 1px solid #333;
  width: 20%;
}
.location__container {
  display: flex;
  justify-content: space-between;
}
.location__item {
  border: 2px solid #333;
  width: 20%;
  text-align: center;
  padding-bottom: 2rem;
}
.activity-log__container {
  padding: 2rem;
  border: 2px solid #333;
  max-height: 50rem;
  overflow: scroll;
}
.activity-log__item {
  display: flex;
  justify-content: space-between;
}
.activity-log__item:not(:nth-last-child()) {
  margin-bottom: 1rem;
}